.add-product {
  height: 200px;
  padding: 10px;
  border: 1px solid orange;
}

.display-product {
  height: 200px;
  padding: 10px;
  border: 1px solid skyblue;
  margin-top: 10px;
}

.add-product-input {
  width: 250px;
  height: 35px;
  display: block;
}

.add-product-btn {
  width: 250px;
  height: 35px;
  display: block;
  margin-top: 20px;
  /* margin: 20px; */
}
